<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](https://mlcourse.ai) – Open Machine Learning Course 

Author:[Yury Kashnitskiy](https://yorko.github.io). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already  in the repository). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg).**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
data.shape

(32561, 15)

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [4]:
# You code here
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [7]:
# You code here
data[data['sex']=='Female']['age'].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [17]:
# You code here
"{0:.2%}".format(data[data['native-country']=='Germany'].shape[0]/data.shape[0])

'0.42%'

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year?**

In [20]:
# You code here
print(data[data['salary']=='>50K']['age'].mean())
print(data[data['salary']=='>50K']['age'].std())
print(data[data['salary']=='<=50K']['age'].mean())
print(data[data['salary']=='<=50K']['age'].std())

44.24984058155847
10.519027719851826
36.78373786407767
14.02008849082488

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [23]:
# You code here
print(data[data['salary']=='>50K']['education'].value_counts())
print('FALSE')

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64
FALSE

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [29]:
# You code here
data.groupby(['race']).describe()

                        age                                                \
                      count       mean        std   min   25%   50%   75%
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                           fnlwgt                                         \
                     max    count           mean            std      min
race
Amer-Indian-Eskimo  82.0    311.0  120831.147910   88338.636336  12285.0
Asian-Pac-Islander  90.0   1039.0  159940.609240   85122.307505  14878.0
Black               90.0   3124.0  228013.124200  123600.677422  19752.0
Other               77.0    271.0  197124.191882   88856.775370  24562.0
White               90.0  27816.0  187298.064280  103124.944196  18827.0

                                                            education-num  \
                         25%       50%       75%        max         count
race
Amer-Indian-Eskimo   35036.5  102541.0  176142.0   445168.0         311.0
Asian-Pac-Islander   93321.0  143098.0  194456.0   506329.0        1039.0
Black               148212.0  205934.0  281693.0  1268339.0        3124.0
Other               138103.0  188793.0  240091.0   481175.0         271.0
White               116902.5  177627.0  233542.5  1484705.0       27816.0

                                                                     \
                         mean       std  min  25%   50%   75%   max
race
Amer-Indian-Eskimo   9.311897  2.310387  2.0  9.0   9.0  10.0  16.0
Asian-Pac-Islander  10.960539  2.811582  1.0  9.0  10.0  13.0  16.0
Black                9.486236  2.297893  1.0  9.0   9.0  10.0  16.0
Other                8.841328  3.226153  1.0  7.5   9.0  10.0  16.0
White               10.135246  2.570307  1.0  9.0  10.0  13.0  16.0

                   capital-gain                                                \
                          count         mean          std  min  25%  50%  75%
race
Amer-Indian-Eskimo        311.0   625.266881  2753.238961  0.0  0.0  0.0  0.0
Asian-Pac-Islander       1039.0  1478.358037  9986.156906  0.0  0.0  0.0  0.0
Black                    3124.0   609.940461  5139.653447  0.0  0.0  0.0  0.0
Other                     271.0   934.660517  8625.128995  0.0  0.0  0.0  0.0
White                   27816.0  1121.660375  7504.533302  0.0  0.0  0.0  0.0

                            capital-loss                                   \
                        max        count       mean         std  min  25%
race
Amer-Indian-Eskimo  27828.0        311.0  34.176849  245.583106  0.0  0.0
Asian-Pac-Islander  99999.0       1039.0  97.222329  423.556931  0.0  0.0
Black               99999.0       3124.0  60.385083  337.394121  0.0  0.0
Other               99999.0        271.0  61.070111  322.452705  0.0  0.0
White               99999.0      27816.0  90.806155  410.833347  0.0  0.0

                                     hours-per-week                        \
                    50%  75%     max          count       mean        std
race
Amer-Indian-Eskimo  0.0  0.0  1980.0          311.0  40.048232  11.695364
Asian-Pac-Islander  0.0  0.0  2457.0         1039.0  40.127045  12.556816
Black               0.0  0.0  4356.0         3124.0  38.422855  10.315646
Other               0.0  0.0  2179.0          271.0  39.468635  11.143755
White               0.0  0.0  4356.0        27816.0  40.689100  12.544796


                    min   25%   50%   75%   max
race
Amer-Indian-Eskimo  3.0  40.0  40.0  40.0  84.0
Asian-Pac-Islander  1.0  40.0  40.0  40.0  99.0
Black               1.0  37.0  40.0  40.0  99.0
Other               5.0  36.0  40.0  40.0  98.0
White               1.0  40.0  40.0  45.0  99.0

In [31]:
data[data['race']=='Amer-Indian-Eskimo']['age'].max()

82

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [47]:
data[data['salary']=='>50K'].groupby('marital-status').describe()

                          age                                                  \
                        count       mean        std   min    25%   50%    75%
marital-status
Divorced                463.0  45.645788   8.554373  24.0  40.00  45.0  51.00
Married-AF-spouse        10.0  31.300000   6.700746  22.0  27.50  29.5  34.75
Married-civ-spouse     6692.0  44.436192  10.383282  19.0  37.00  44.0  51.00
Married-spouse-absent    34.0  47.323529  10.803256  28.0  41.25  47.5  51.75
Never-married           491.0  38.217923  10.262840  19.0  30.50  36.0  44.00
Separated                66.0  42.348485  10.043739  23.0  34.25  42.0  48.50
Widowed                  85.0  58.588235  11.536994  29.0  51.00  58.0  67.00

                             fnlwgt                                         \
                        max   count           mean            std      min
marital-status
Divorced               69.0   463.0  185425.691145   98586.532618  20296.0
Married-AF-spouse      43.0    10.0  166411.200000  125626.413447  26892.0
Married-civ-spouse     90.0  6692.0  187893.779737  102330.197150  14878.0
Married-spouse-absent  77.0    34.0  159234.735294   84719.581980  27444.0
Never-married          90.0   491.0  196258.124236  111550.846060  23438.0
Separated              64.0    66.0  210674.075758  100937.924364  27766.0
Widowed                81.0    85.0  159583.705882   82429.176123  23074.0

                                                                  \
                             25%       50%        75%        max
marital-status
Divorced               119602.00  176037.0  228547.50   682947.0
Married-AF-spouse       52022.25  179044.0  221776.75   436341.0
Married-civ-spouse     119101.00  176026.5  231386.00  1226583.0
Married-spouse-absent  109759.50  164552.0  207886.50   344415.0
Never-married          122622.50  178134.0  235195.50  1033222.0
Separated              141621.25  195111.5  270711.75   581071.0
Widowed                102359.00  150389.0  214627.00   411007.0

                      education-num                                         \
                              count       mean       std  min    25%   50%
marital-status
Divorced                      463.0  11.881210  2.339417  5.0  10.00  13.0
Married-AF-spouse              10.0  11.000000  1.825742  9.0   9.25  10.5
Married-civ-spouse           6692.0  11.525852  2.375349  2.0   9.00  12.0
Married-spouse-absent          34.0  12.088235  2.597990  4.0  10.00  13.0
Never-married                 491.0  12.529532  2.307186  3.0  11.00  13.0
Separated                      66.0  12.166667  2.291008  6.0  10.00  13.0
Widowed                        85.0  11.047059  2.586162  4.0   9.00  11.0

                                   capital-gain                             \
                         75%   max        count         mean           std
marital-status
Divorced               14.00  16.0        463.0  5781.812095  16205.092176
Married-AF-spouse      13.00  13.0         10.0   729.800000   2307.830236
Married-civ-spouse     13.00  16.0       6692.0  3678.163927  14262.530396
Married-spouse-absent  13.75  16.0         34.0  6836.647059  18411.169143
Never-married          14.00  16.0        491.0  6137.576375  16295.894797
Separated              14.00  16.0         66.0  6614.727273  18159.752130
Widowed                13.00  16.0         85.0  5071.117647  12848.662728

                                                       capital-loss  \
                       min  25%  50%      75%      max        count
marital-status
Divorced               0.0  0.0  0.0  4934.00  99999.0        463.0
Married-AF-spouse      0.0  0.0  0.0     0.00   7298.0         10.0
Married-civ-spouse     0.0  0.0  0.0     0.00  99999.0       6692.0
Married-spouse-absent  0.0  0.0  0.0  3590.25  99999.0         34.0
Never-married          0.0  0.0  0.0  8614.00  99999.0        491.0
Separated              0.0  0.0  0.0  4934.00  99999.0         66.0
Widowed                0.0  0.0  0.0  4934.00  99999.0         85.0

                                                                           \
                             mean         std  min  25%  50%  75%     max
marital-status
Divorced               137.853132  550.166480  0.0  0.0  0.0  0.0  3004.0
Married-AF-spouse        0.000000    0.000000  0.0  0.0  0.0  0.0     0.0
Married-civ-spouse     198.975194  593.202167  0.0  0.0  0.0  0.0  2415.0
Married-spouse-absent  164.705882  552.696504  0.0  0.0  0.0  0.0  2472.0
Never-married          188.971487  630.983524  0.0  0.0  0.0  0.0  3683.0
Separated              232.621212  743.917236  0.0  0.0  0.0  0.0  2824.0
Widowed                234.129412  710.191704  0.0  0.0  0.0  0.0  2824.0

                      hours-per-week                                          \
                               count       mean        std   min   25%   50%
marital-status
Divorced                       463.0  47.336933  10.811794   5.0  40.0  45.0
Married-AF-spouse               10.0  42.600000   4.115013  40.0  40.0  40.0
Married-civ-spouse            6692.0  45.303945  11.045102   1.0  40.0  40.0
Married-spouse-absent           34.0  45.058824  15.273152  16.0  40.0  42.0
Never-married                  491.0  46.678208   9.923293   7.0  40.0  45.0
Separated                       66.0  46.212121   9.162659  24.0  40.0  45.0
Widowed                         85.0  41.600000  13.424569   2.0  40.0  40.0


                         75%   max
marital-status
Divorced               50.00  99.0
Married-AF-spouse      43.50  50.0
Married-civ-spouse     50.00  99.0
Married-spouse-absent  53.75  80.0
Never-married          50.00  90.0
Separated              50.00  80.0
Widowed                50.00  80.0

In [59]:
# You code here`
data[(data['salary']=='>50K') & (~data['marital-status'].str.contains('Married'))].shape

(1105, 15)

In [60]:
data[(data['salary']=='>50K') & (data['marital-status'].str.contains('Married'))].shape

(6736, 15)

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [ ]:
# You code here

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [ ]:
# You code here